{% load thumbnail %}
<article>
  <ul>
    <li>
      <a href= "{% url 'posts:profile' post.author.username %}">Автор: {{ post.author.get_full_name }}</a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
    </ul>
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}      
    <p>{{ post.text }}</p>
      <a href= "{% url 'posts:post_detail' post.pk %}">подробная информация</a><br>
    {% if request.path == '/' or 'profile' in request.path or 'group' in request.path %}
      {% if post.group is not null %}
        <a href= "{% url 'posts:group_posts' post.group.slug %}">все записи группы {{ post.group }}</a>
      {% endif %}
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
</article>